body{
    user-select: none;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(249, 252, 247);
	
}


.first{

    margin-top: 10%;
    border: 5px solid grey;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border-style: outset;
}
