body {
    background-image: url('silverware.jpg');
    background-image: url();
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: white;
    color: #404040;
    font-family: Georgia, Garamond, serif;
    font-size: 11pt;
    
}
.pie-image{
    width: 170px;
}

h1, h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
    
    
}
/*.h2{
    width: 300px;
}
.h22{
    width: 100px;
}*/



h1 {
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size:22pt;
    font-weight: bold;
    text-align: left;
}

a {
    color: #A4A400;
    text-decoration: none;
}

abbr[title] {
    text-decoration: underline;
    cursor: help;
}

blockquote {
    background-color: #FFFFA8;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
}

pre {
    font-family: "Courier New", monospace;
    white-space: pre;
}

ul{
    list-style-image: url('pie_icon.gif');
}


strong {
    font-weight: bold;
}
.copyr{
    margin-top: 10px;
    margin-bottom:2px;
}
.indentation-first{
    text-indent: 25px;
    margin-top:0%;
    margin-bottom: 2px;
}
.indentation-second{
    text-indent: 80px;
    margin-top: 0px;
}
.jh{
    text-align: left;
}
.sk{    
    text-align: left;
}

