.flex{
    display: flex;
    flex-direction: column;
}
.s-cont{
    display: flex;
    justify-content: space-around;

}

.j-content{
    display: flex;
    justify-content: space-evenly;
}
.t-list{
    display: flex;
    color: blue;
   
}

body{
    display: flex;
    justify-content: center;
}

.main-div{
    width: 40%;
    border-style: solid; 
    border-color: rgb(9, 9, 228);
}

.w-50{
    width: 50%;
}
input{
    margin-bottom: 5px;
    width: 188px;
}
#task-id{
    width: 181px;
    border-color: rgb(118, 194, 194);
}
#txtarea{
    width: 222px;
    margin-bottom: 5px;
    height: 67px;
}



 